@charset "UTF-8";

/* ----- Grundstil för webbsidan ----- */

html {
    font-size: 16px;
}

html, body, nav, header, main, aside, footer, article, section, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5e6cb;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 800px;
    margin: 0 auto;
}

h2,
h3 {
    background-color: #e6b077;
    margin: 0;
    padding: 8px;
}

/* ----- Stil för formuläret ----- */


#booking {
    padding: 20px
}

#booking fieldset {
    background-color: #FED;
    margin-bottom: 20px;
    display: grid;
    gap: 0.6em;
    white-space: nowrap;
}

#booking legend {
    font-style: italic;
    font-weight: bold;
}

#customer{
    grid-template-columns: min-content auto;
}

#customer input {
    max-width: 40ch;
}
#customer #zipcode {
    max-width: 6ch;
}

#date {
    grid-template-columns: 1fr 1fr;
}

#send {
    display: block;
    font-size:1.5em;
    border-radius: 0.6em;
    background-color: #7BE;
    margin-left: auto;
}

#send:hover {
    background-color:#7E8;
}

@media screen and (max-width: 560px) {
    #booking fieldset {
        grid-template-columns: auto;
        gap: 0.2em;
    }
}